<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpModules>
			<add name="HttpBasicAuth" type="SpikeHttpAuth.HttpBasicAuthHttpModule, SpikeHttpAuth" />
		</httpModules>
	</system.web>
	<appSettings>
		<add key="SpikeHttpAuth.HttpBasicAuthHttpModule.Realm" value="lalala"/>
	</appSettings>
</configuration>