<?xml version="1.0"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpHandlers>
			<add verb="*" path="/rpc" type="SpikeHttpHandler.DirectHttpHandler, SpikeHttpHandler-WebAppMainModule, Version=1.0.0.0, Culture=neutral" />
		</httpHandlers>
	</system.web>
</configuration>