<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpHandlers>
			<add verb="*" path="/rpc" type="ExtDirectHandler.DirectHttpHandler, ExtDirectHandler" />
		</httpHandlers>
	</system.web>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="trace" />
		</root>
		<appender name="trace" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.SimpleLayout" />
		</appender>
	</log4net>
</configuration>