<?xml version="1.0" encoding="ASCII"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>SpikeDirectJNgine</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>DjnServlet</servlet-name>
		<servlet-class>com.softwarementors.extjs.djn.servlet.DirectJNgineServlet</servlet-class>
		<init-param>
			<param-name>providersUrl</param-name>
			<param-value>djn/directprovider</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>createSourceFiles</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>batchRequestsMultithreadingEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>apis</param-name>
			<param-value>test</param-value>
		</init-param>
		<init-param>
			<param-name>test.apiFile</param-name>
			<param-value>js/test-api.js</param-value>
		</init-param>
		<init-param>
			<param-name>test.apiNamespace</param-name>
			<param-value>Ext.app.test</param-value>
		</init-param>
		<init-param>
			<param-name>test.actionsNamespace</param-name>
			<param-value>Ext.app.test</param-value>
		</init-param>
		<init-param>
			<param-name>test.classes</param-name>
			<param-value>spikeDirectJNgine.TestAction</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<listener>
		<listener-class>spikeDirectJNgine.AppSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>spikeDirectJNgine.AppContextListener</listener-class>
	</listener>
	<servlet-mapping>
		<servlet-name>DjnServlet</servlet-name>
		<url-pattern>/djn/directprovider/*</url-pattern>
	</servlet-mapping>
</web-app>