<cruisecontrol xmlns="http://thoughtworks.org/ccnet/1/6" xmlns:cb="urn:ccnet.config.builder">
	<project name="extdirecthandler">
		<workingDirectory>extdirecthandler</workingDirectory>
<!--
		<sourcecontrol type="svn">
			<trunkUrl>http://svn.github.com/gimmi/extdirecthandler.git</trunkUrl>
			<username></username>
			<password></password>
		</sourcecontrol>
-->
		<sourcecontrol type="git">
			<repository>git://github.com/gimmi/extdirecthandler.git</repository>
			<executable>C:\Program Files (x86)\Git\cmd\git.cmd</executable>
		</sourcecontrol>
		<tasks>
			<exec>
				<executable>build.cmd</executable>
				<buildArgs>test</buildArgs>
				<buildTimeoutSeconds>0</buildTimeoutSeconds>
				<successExitCodes>0</successExitCodes>
			</exec>		
		</tasks>
	</project>
</cruisecontrol>